[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[init]
	defaultBranch = master
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
[include]
	path = ~/.gitconfig.local
